/* ========== CSS VARIABLES ========== */
:root {
  --theme-text-primary: #4d5b1d;
  --theme-text-secondary: #ff5c1c;
  --text-gray: rgb(170, 170, 170);
  --text-black: #221a15;
  --text-white: #ffffff;
  --theme-bg-primary: #ffff009f;
  --theme-bg-secondary: #febe10;
  --header-bg: rgb(228, 210, 210);
  --bg-white: #ffffff;
  --input-bg: #fcebeb;
  --task-done-bg: rgb(195, 153, 15);
  --list-text-color: rgb(111, 63, 63);
  --space-md: 16px;
  /* Spacing & Layout */
  --space-xs: 4px;
  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 32px;
  --space-xl: 64px;
  /* Borders & Shadows */
  --border-radius: 6px;
  --box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

/* Reset default browser styles, set base font and them base Element styles ------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  overflow-x: hidden;
  line-height: 1.6;
  background: rgb(182, 180, 180);
  color: var(--theme-text-primary);
}
.mb {
  margin-bottom: var(--space-md);
}
span {
  color: var(--theme-text-secondary);
}
button.btn {
  background: var(--theme-bg-secondary);
  font-weight: bold;
  margin: 4px 0 4px 5px;
  padding: 5px;
}
button.btn:hover {
  cursor: pointer;
  background: var(--theme-bg-primary);
}

/* Dark Mode Styles ------------------------------*/
body.dark-mode {
  --bg-white: rgb(118, 106, 106);
  --theme-text-primary: #f3f4ef;
  --theme-text-secondary: #070314;
  --theme-bg-primary: #40b0139f;
  --theme-bg-secondary: #c1c1b3;
  --header-bg: rgb(87, 78, 78);
  --list-text-color: rgb(34, 83, 22);
  --input-bg: #b0b2b0;
  --task-done-bg: rgb(136, 106, 7);
}
/* App Wrapper Style------------------------------ */
.app-wraper {
  max-width: 600px;
  margin: 0px auto;
  min-height: 100vh;
  background: var(--bg-white);
  padding: 5px 10px;
}
/* Header Style ------------------------------ */
header {
  background: var(--header-bg);
}
.logo {
  height: 40px;
  width: auto;
  margin-left: 10px;
}
.to {
  font-size: 25px;
  display: inline-block;
  transform: rotate(-10deg);
  color: orange;
}
.do {
  font-size: 25px;
}
/* Date & Time Area Style ------------------------------*/
#time-value,
#date-value {
  font-size: 16px;
  letter-spacing: 1px;
}
/* User Input Area Style ------------------------------*/
input.todo-task-input {
  border: 0px solid gray;
  background: var(--input-bg);
  font-size: 1.1rem;
  letter-spacing: 0px;
  font-weight: 400;
  color: #5f5b5b;
}
input.todo-task-input:focus {
  outline: none;
  background: #e9e3e3;
}

/* Task Display Area  Style ------------------------------ */
.task-text-area {
  background: var(--theme-bg-primary);
  padding: 10px 6px;
  position: relative;
  text-wrap: wrap;
  overflow-y: hidden;
}

.task-text-area::after {
  content: "Done";
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 20px;
  position: absolute;
  top: 40%;
  left: 0%;
  transform: translate(-50%, -50%);
  transform: rotate(-15deg);
  width: 100%;
  height: 1%;
  background: rgb(80, 60, 60);
  display: none;
}
.task-text-area.task-completed::after {
  display: block;
}
.task-done-bg {
  background: var(--task-done-bg);
}
.task-item-display {
  color: var(--list-text-color);
}
.task-item-display {
  font-size: 15px;
}
.task-time {
  font-size: 10px;
  font-weight: bold;
  text-align: center;
}
